# -----------------------
# Frontend (Angular)
# -----------------------
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/tmp/
frontend/out-tsc/

# Logs
frontend/npm-debug.log
frontend/yarn-error.log

# -----------------------
# Backend (PHP)
# -----------------------
backend/vendor/
backend/.idea/
backend/.vscode/
backend/*.log

# -----------------------
# Database
# -----------------------
db/*.sql
db/*.dump

# -----------------------
# System / IDE
# -----------------------
.DS_Store
Thumbs.db
*.swp
*.sublime-workspace
.history/
.vscode/*

# -----------------------
# Docker
# -----------------------
docker-compose.override.yml