<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
    <a class="navbar-brand fw-bold" href="#">TrashGBT</a>
    <button class="btn btn-primary" type="button" *ngIf="!isLoggedIn" [routerLink]="buttonLink">{{ buttonText }}</button>
    <button class="navbar-toggler" 
        type="button"
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
        aria-label="Toggle navigation"
        *ngIf="isLoggedIn">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" [routerLink]="['/settings']">Settings</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" href="#" (click)="logout()">Sign Out</a>
        </li>
        </ul>
    </div>
    </div>
</nav>