<div *ngIf="chats().length > 0; else noChats">  
  <div class="list-group">
      <a 
      *ngFor="let msg of chats()" 
      class="list-group-item list-group-item-action py-3"
      style="cursor: pointer;"
      [routerLink]="['/chat', msg.chat_session_id]"
      >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ msg.title }}</h5>
        <small class="text-muted">{{ msg.created_at | date:'short' }}</small>
      </div>
      
      <p class="mb-1 text-secondary">Flavor: {{ msg.flavor }}</p>
      
      <small class="text-muted">
        Last updated: {{ msg.last_updated | date:'short' }}
      </small>
    </a>
  </div>
</div>


<ng-template #noChats>
  <div class="d-flex flex-column align-items-center vh-100 mt-3">
    <h2>No Current Chats</h2>
    <button class="btn btn-primary btn-lg mt-3" [routerLink]="['/chat']">
      New Chat
    </button>
  </div>
</ng-template>


