<div class="list-group">
  <a 
    *ngFor="let msg of chats()" 
    class="list-group-item list-group-item-action py-3"
    style="cursor: pointer;"
    [routerLink]="['/chat', msg.chat_session_id]"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ msg.title }}</h5>
      <small class="text-muted">{{ msg.created_at | date:'short' }}</small>
    </div>

    <p class="mb-1 text-secondary">Flavor: {{ msg.flavor }}</p>

    <small class="text-muted">
      Last updated: {{ msg.last_updated | date:'short' }}
    </small>
  </a>
</div>
